@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
	font-family: 'SUITE-Regular';
}

#logoBox {
	padding-top: 100px;
	text-align: center;
	height: 100px;
	padding-top: 20px;
}

#reportBox
{
	width: 500px;
	height: 300px;
	margin: auto;
	border: 3px solid black;
	font-size: 14pt;
}

.popupTitle {
	font-size: 19pt;
}

.popupSmallTitle {
	font-size: 15pt;
}

#repReason {
	margin-left: 5px;
	padding-left: 5px;
	font-size: 11pt;
	width: 150px;
	height: 24px;
}
#repReason option {
	padding-left: 5px;
	font-size: 11pt;
}

#reportBox p
{
	text-align: center;
	padding-top: 10%;
	font-size: 15pt;
}

#reportInsert, #closeReport, #closeReport {
	font-size: 11pt;
	width: 85px;
	height: 25px;
	background-color: #dfdfdf;
	border: none;
	border-radius: 5px;
}

#reportInsert:hover, #closeReport:hover, .closeReport:hover {
	background-color: #717171;
	color: white;
}

