@charset "UTF-8";

a
{
	text-decoration: none;
	color: inherit;
} 
a:hover{text-decoration: underline;}
li{text-decoration: none;}

/*===================================================*/
#root						   /*루트 박스*/
{	
	position: relative;
	width: 1200px; 
	padding-bottom: 20px;
	/*border: 2px solid #d1d7e0;*/   /*영역 확인용*/
}

/*===================================================*/
#spaceName			    	 /* 스페이스명*/
{
	text-align: left;
	font-size: 26px;
	padding-left: 40px;		
}

#spaceNameBox				/*스페이스 이름 영역*/
{	
	position:absolute;
	top: 6px;
}
/*===================================================*/
#categoryBar 				/* 메뉴 인덱스바 영역*/
{	
	position: absolute;
	top: 80px;
	left: 40px;
	width: 660px;
	height: 40px;
	
	background-color: #fae896;
	padding: 10px 0px 0px 20px;
	margin-left: 2px;
	
	border-top: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.index					/*메뉴 인덱스 클래스 영역*/
{
	display: inline;
	/* border: 2px solid;  */			 /* 영역 확인용 */
	border-radius: 10px;
	
	vertical-align: bottom;
	font-weight: bold;
	padding: 6px 8px;
}			

.index a				/* 메뉴 인덱스 글자*/
{
	text-decoration: none;
	 
	font-size: 20px;
	padding: 4px 6px;
	margin: 0px;
}
/*===================================================*/	
#exitBtn					/* 나가기 버튼 */
{	
	float: right;  
	margin-top: 34px; 	   /* 위 여백 줄여서 이미지를 위로 */
	margin-right: -60px;
}
/*===================================================*/
#directoryBox 	/*(메뉴 인덱스 제외) 폴더모양 박스 영역 전체*/
{	
	position: absolute;
	left: 30px;
	top: 130px;
	
 	border: 2px solid;
	border-radius: 20px;
	
	width: 1280px;
	height:740px;
	
	background-color: #fae896;  
}
/*===================================================*/
#topLeftBox			/* 좌측 상단 영역 */
{
	width: 260px;
	height: 200px;
	border: 2px solid;
	border-radius: 10px;
	margin: 30px 20px 20px 20px;
	padding: 10px;
	background-color: gray;
}
/*===================================================*/
#feed					/* 담벼락 영역 */
{
	float: left;
	width: 268px;
	height: 430px;
	
	text-align: center;
	padding: 5px;
	margin: 0px 20px 10px 20px;
	
	border: 3px solid #757575;
	border-radius: 10px;
	background-color: #a8adad;
}

   /*===================================================*/
#lineNoticeBox 	/* 한 줄 공지 영역*/
{
  position: absolute; /* 윈도우 조절해도 변화 없이 고정 (부모요소와 연관 제거)*/ 
  top: 30px;         /* 고정 top 마진 */
  right: 20px;      /* 고정 우측 마진 */
  
  background-color: white;
  width: 920px;
  
  border: 2px solid;
  border-radius: 10px;
  
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 4px 4px 6px 14px;
}

#lineNotice	,#noticeDate	/* 공지 글씨 (span) */
{
	vertical-align: super;	/*베이스 라인을 위로.*/
}
#noticeDate  /* 공지 날짜 */
{
	font-size: 10pt;
	text-color: gray;
	margin-left: 10px;
}
/*===================================================*/
#workSpaceBox			/* 작업실 미리보기 영역*/
{	
  position: absolute; /* 윈도우 조절해도 변화 없이 고정 (부모요소와 연관 제거)*/ 
  top: 90px;   		/* 고정 top 마진 */
  right: 20px; 		/* 고정 우측 마진 */
  
  background-color: white;
  width: 920px;
  height: 160px;
  border: 2px solid;
  border-radius: 10px;
  
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}/*===================================================*/
#topLeftBox			/* 좌측 상단 영역 */
{
	width: 260px;
	height: 200px;
	border: 2px solid;
	border-radius: 10px;
	margin: 30px 20px 20px 20px;
	padding: 10px;
	background-color: gray;
}
/*===================================================*/
#feed					/* 담벼락 영역 */
{
	float: left;
	width: 268px;
	height: 430px;
	
	text-align: center;
	padding: 5px;
	margin: 0px 20px 10px 20px;
	
	border: 3px solid #757575;
	border-radius: 10px;
	background-color: #a8adad;
}

   /*===================================================*/
#lineNoticeBox 	/* 한 줄 공지 영역*/
{
  position: absolute; /* 윈도우 조절해도 변화 없이 고정 (부모요소와 연관 제거)*/ 
  top: 30px;         /* 고정 top 마진 */
  right: 20px;      /* 고정 우측 마진 */
  
  background-color: white;
  width: 920px;
  
  border: 2px solid;
  border-radius: 10px;
  
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 4px 4px 6px 14px;
}

#lineNotice	,#noticeDate	/* 공지 글씨 (span) */
{
	vertical-align: super;	/*베이스 라인을 위로.*/
}
#noticeDate  /* 공지 날짜 */
{
	font-size: 10pt;
	text-color: gray;
	margin-left: 10px;
}
/*===================================================*/
#workSpaceBox			/* 작업실 미리보기 영역*/
{	
  position: absolute; /* 윈도우 조절해도 변화 없이 고정 (부모요소와 연관 제거)*/ 
  top: 90px;   		/* 고정 top 마진 */
  right: 20px; 		/* 고정 우측 마진 */
  
  background-color: white;
  width: 920px;
  height: 160px;
  border: 2px solid;
  border-radius: 10px;
  
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
